.venv
*.secret
tmp/
__pycache__/
node_modules/
.svelete-kit/]

node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

backend/static

.vscode
frontend/.svelte-kit/
/frontend/build

frontend/.svelte-kit/generated/client/nodes/0.js
frontend/.svelte-kit/generated/server/internal.js
frontend/.svelte-kit/types/route_meta_data.json
frontend/.svelte-kit/types/src/routes/$types.d.ts